<%- include('./includes/head.ejs') %>

<div class="container-fluid px-4">
  <div class="row my-2 me-3 d-flex align-items-center mb-3">
  <div class="col-md-3 align-items-center"> 
    <input
      type="text"
      id="expiredTasksFilter"
      class="form-control fixed-header"
      placeholder="Bo'lim nomi bo'yicha qidirish"
    />
  </div>
  <div class="col-md-1">
    <div class="filtering">
      <a href="/admin/expiredTasksExcel">Excel</a>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col">
      <div class="expiredTask-list">
        <table class="table table-bordered table-striped">
          <thead class="table-white fixed-header">
            <tr>
              <th class="align-middle text-center">Tartib raqami</th>
              <th class="align-middle text-center">Bo'lim nomi</th>
              <th class="align-middle text-center">Xodim</th>
              <th class="align-middle text-center">Hujjat raqami</th>
              <th class="align-middle text-center">Qaysi tashkilotdan</th>
              <th class="align-middle text-center">Muddat buzilgan sana</th>
            </tr>
          </thead>
          <tbody>
            <% expiredTasks.forEach((task, index) => { 
              const formatedDate = formatDate(task.date);
            %>
            <tr>
              <td class="align-middle text-center"><%= (index + 1) %></td>
              <td class="align-middle text-center"><%= task.user.department.name %></td>
              <td class="align-middle text-center"><%= task.user.firstname %> <%= task.user.secondname %></td>
              <td class="align-middle text-center"><%= task.taskNumber %></td>
              <td class="align-middle text-center"><%= task.organization%></td>
              <td class="align-middle text-center"><%= formatedDate%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('./includes/end.ejs') %>

<script>
  document.getElementById('expiredTasksFilter').addEventListener('keyup', function () {
    const input = this.value.toLowerCase();
    const rows = document.querySelectorAll('.expiredTask-list tbody tr');
    rows.forEach(row => {
      const departmentName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
      if (departmentName.includes(input)) {
        row.style.display = 'table-row';
      } else {
        row.style.display = 'none';
      }
    });
  });
</script>

