 <%- include('./includes/head.ejs') %>
            <div class="container-fluid px-4">
                <div class="row g-3 my-2 main-stats mb-5">
                    <div class="col-md stats-item">
                       <% const isAdminOrKadr = ['admin', 'superAdmin', 'kadr'].includes(user?.role); %>
                      <% if (isAdminOrKadr) { %>
                      <a href="/departments">
                        <% } %>
                        <div class="p-3 h-100 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div class="stats text-secondary">
                                <h3><%= departments.length%></h3>
                                <p class="fw-bold">Bo'limlar</p>
                            </div>
                            <i class="fas fa-solid fa-building-user fs-5 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                        <% if (isAdminOrKadr) { %>
                        </a>
                      <% } %>
                        
                    </div>

                    <div class="col-md stats-item">
                       <% let overallEmployees = 0; %>
                  <% for (let department of departments) { %>
                    <% overallEmployees += department.numberOfEmployees %>
                  <% } %>
                      <div class="p-3 h-100 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div class="stats text-secondary">
                                <h3><%= overallEmployees%></h3>
                                <p class="fw-bold">Xodimlar soni</p>
                            </div>
                            <i class="fas fa-solid fa-users fs-5 primary-text border rounded-full secondary-bg p-3"></i>
                        </div></a>
                        
                    </div>

                    <div class="col-md stats-item">
                  <% let overallVacancies = 0; %>
                  <% for (let department of departments) { %>
                    <% overallVacancies += department.vacancy; %>
                  <% } %>
                  <% if (isAdminOrKadr) { %>
                    <a href="/departments">
                  <% } %>
                  <div class="p-3 h-100 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="stats text-secondary">
                      <h3><%= overallVacancies %></h3>
                      <p class="fw-bold">Vakansiyalar</p>
                    </div>
                    <i class="fa-solid fa-briefcase fs-5 primary-text border rounded-full secondary-bg p-3"></i>
                  </div>
                  <% if (isAdminOrKadr) { %>
                    </a>
                  <% } %>
                </div>


                    <div class="col-md stats-item">
                  <% let overallExpiredTasks = 0; %>
                  <% let currentMonth = 'Joriy'; %>
                  <% for (let employee of allEmployees) { %>
                    <% if (employee.dates && employee.dates.length > 0) { %>
                      <% currentMonth = (employee.dates[employee.dates.length - 1]?.date).split(' ')[3]; %>
                    <% } %>
                    <% overallExpiredTasks += employee.tasksInProcess.length; %>
                  <% } %>
                  <% const isAdminOrIjro = ['admin', 'superAdmin', 'ijro'].includes(user?.role); %>
                  <% if (isAdminOrIjro) { %>
                    <a href="/expiredTasks">
                  <% } %>
                  <div class="p-3 h-100 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="stats text-secondary">
                      <h3><%= overallExpiredTasks %></h3>
                      <p class="fw-bold"><%= currentMonth %> oyi muddat buzilishlar</p>
                    </div>
                    <i class="fa-solid fa-envelope fs-5 primary-text border rounded-full secondary-bg p-3"></i>
                  </div>
                  <% if (isAdminOrIjro) { %>
                    </a>
                  <% } %>
                </div>


                    <div class="col-md stats-item">
                    <% let overallLatenesses = 0; %>
                    <% for (let employee of allEmployees) { %>
                      <% overallLatenesses += employee.latenesses.length; %>
                    <% } %>
                    <% if (isAdminOrKadr) { %>
                      <a href="/latenesses">
                    <% } %> 
                    <div class="p-3 h-100 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                      <div class="stats text-secondary">
                        <h3><%= overallLatenesses %></h3>
                        <p class="fw-bold"><%= currentMonth %> oy kechikishlar</p>
                      </div>
                      <i class="fa-solid fa-clock fs-5 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                    <% if (isAdminOrKadr) { %>
                      </a>
                    <% } %>
                  </div>

                </div>

            <section class="filter container-fluid fs-4 d-flex justify-content-center mx-auto">
            <form class="filter_items" action="/groupedDepartments" method="GET">
              <div class="filtering">
                <select name="departmentId" id="departmentId" onchange="updateUsers()">
                <option selected disabled>Bo'lim</option>
                <% for (let department of departments) { %>
               <option value="<%= department.id %>"><%= department.name %></option>
              <% } %>


                </select>
              </div>
              <div class="filtering">
                                <input
  placeholder="...sanadan"
  class="textbox-n"
  name = "from"
  type="text"
  onfocus="(this.type='date')"
  id="date" />
              </div>
              <div class="filtering">
                                                <input
  placeholder="...sanagacha"
  class="textbox-n"
  name = "to"
  type="text"
  onfocus="(this.type='date')"
  id="date" />
              </div>
              <div class="filtering d-flex">
                <button type="submit" class="ps-2">Qidirish</button>
                <a href="/admin/excel">Excel</a>
              </div>
            </form>
          </section>

                <div class="row my-2">
                    <div class="attendance-list">
                        <div class="mt-2">
                        <a href="/" class="fw-bold">Xodimlar bo'yicha</a>
                      </div>
            <table class="table">
              <thead>
                <tr>
                  <th class="align-middle text-center">Bo'lim nomi</th>
                  <th class="align-middle text-center">Oy</th>
                  <th class="align-middle text-center">Muddati o'tgan xatlar</th>
                  <th class="align-middle text-center">Muddati o'tib imzolangan</th>
                  <th class="align-middle text-center">Kechikishlar soni</th>
                </tr>
              </thead>
              <tbody>
     <% for (let groupedDepartment of groupedDepartments) { %>
  <tr class="align-middle">
    <td class="text-center"><%= groupedDepartment.department %></td>
    <td class="text-center"><%=  groupedDepartment.dates[groupedDepartment.dates.length - 1]?.date%></td>
    <td class="text-center"><%= groupedDepartment.tasksInProcess.length %></td>
    <td class="text-center"><%= groupedDepartment.tasksFinished.length %></td>
    <td class="text-center"><%= groupedDepartment.latenesses.length %></td>
  </tr>
<% } %>


              </tbody>
            </table>
          </div>
                </div>
                <% if (isOverLimit) { %>
  <div class="pagination my-3">
    <div>
      <p>Jami <%= total %> ta xodimdan <%= limit %> tasi jadvalda aks etmoqda</p>
    </div>
    <div>
      <a href="?page=<%= previousPage %>&departmentId=<%= query.departmentId %>&positionId=<%= query.positionId %>&from=<%= query.from %>&to=<%= query.to %>" class="blocks <%= (currentPage === 1) ? 'disabled' : '' %>"
        >&laquo;</a>
      <% if (currentPage !== 1 && previousPage !== 1) { %>
        <a href="?page=1&departmentId=<%= query.departmentId %>&positionId=<%= query.positionId %>&from=<%= query.from %>&to=<%= query.to %>" class="blocks">1</a>
      <% } %>
      <% if (hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>&departmentId=<%= query.departmentId %>&positionId=<%= query.positionId %>&from=<%= query.from %>&to=<%= query.to %>" class="blocks"><%= previousPage %></a>
      <% } %>
      <a href="?page=<%= currentPage %>&departmentId=<%= query.departmentId %>&positionId=<%= query.positionId %>&from=<%= query.from %>&to=<%= query.to %>" class="active blocks"><%= currentPage %></a>
      <% if (hasNextPage) { %>
        <a href="?page=<%= nextPage %>&departmentId=<%= query.departmentId %>&positionId=<%= query.positionId %>&from=<%= query.from %>&to=<%= query.to %>" class="blocks"><%= nextPage %></a>
      <% } %>
      <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
        <a href="?page=<%= lastPage %>&departmentId=<%= query.departmentId %>&positionId=<%= query.positionId %>&from=<%= query.from %>&to=<%= query.to %>" class="blocks"><%= lastPage %></a>
      <% } %>
      <a href="?page=<%= nextPage %>&departmentId=<%= query.departmentId %>&positionId=<%= query.positionId %>&from=<%= query.from %>&to=<%= query.to %>" class="blocks <%= (currentPage === lastPage) ? 'disabled' : '' %>"
        >&raquo;</a>
    </div>
  </div>
<% } %>

            </div>
        </div>
    </div>
 <%- include('./includes/end.ejs') %>
  